@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta scrollbar en modales/paneles con overflow */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
